.vscode
data/*
model/__pycache__/
experiments/baseline/tensorboard/
dataloader/__pycache__/
experiments/baseline/train.log
ngrok
ngrok-stable-linux-amd64.zip
template_ws.code-workspace
__pycache__
experiments/resnet50/tensorboard/
experiments/resnet50/logs
experiments/resnet50/ckpt
experiments/resnet101/tensorboard/
experiments/resnet101/logs
experiments/resnet101/ckpt