.vscode
data/*
model/__pycache__/
experiments/baseline/tensorboard/
dataloader/__pycache__/
experiments/baseline/train.log
ngrok
ngrok-stable-linux-amd64.zip
template_ws.code-workspace
experiments/baseline/model_best.tar
experiments/baseline/metrics_val_best_weights.json
experiments/baseline/checkpoint.tar
__pycache__
experiments/resnet50/tensorboard/
experiments/resnet50/train.log
experiments/resnet50/checkpoint.tar
experiments/resnet50/metrics_val_best_weights.json
experiments/resnet50/model_best.tar
